/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #757575;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.button {
  padding: 0;
  border: 0;
  border-color: transparent;
  cursor: pointer;
}

.section-title--slogan {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid red;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__hero {
  padding-top: 180px;
  padding-bottom: 180px;
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(to right, rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../../images/hero\ \ img\ 480x400\ M.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section__hero {
    background-image: linear-gradient(to right, rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../../images/hero\ img@2x\ 960x800\ M.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../../images/hero\ img\ 768x400\ T.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__hero {
    background-image: linear-gradient(to right, rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../../images/hero\ img@2x\ 1536x800\ T.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section__hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)), url(../../images/hero\ 1600x600.jpg);
  }
}

@media screen and (max-width: 1200px) {
  .section--work {
    display: none;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.logo-link,
.logo-link__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .logo-link,
.logo-link__text {
    margin-right: auto;
  }
}

.logo-link__text--footer,
.logo-link__text--header {
  color: #2196F3;
}

.logo-link--footer {
  margin-left: 163px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .logo-link--footer {
    margin-left: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link--footer {
    margin-left: 0;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation {
    position: relative;
    justify-content: flex-end;
  }
}

.navigation__link--current {
  position: relative;
  color: #2196F3;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -1px;
  width: 100%;
  border-radius: 4px;
  display: block;
  background-color: #2196F3;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .contacts__icons {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: block;
    position: absolute;
    top: 100%;
    width: 480px;
    height: 796px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    font-size: 20px;
    padding: 48px 40px;
    z-index: 1000;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 32px;
  }
}

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 40px;
  line-height: 1.175;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    margin-right: 96px;
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-right: 315px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__email {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__email {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__email {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 1.1764705882;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.contacts__link {
  color: #757575;
}
.contacts__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .contacts__bloc {
    display: flex;
  }
  .contacts__bloc--social:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .contacts__bloc--link {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contacts__bloc--link:focus {
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .contacts__bloc {
    display: none;
  }
}
.contacts__icons {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .contacts__icons {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icons {
    margin-right: 10px;
  }
}

.section__title--hero {
  max-width: 360px;
  margin: 0 auto 30px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .section__title--hero {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.section-title--slogan {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1719444444;
  text-align: center;
  color: #212121;
}

.section__title--work {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1719444444;
  text-align: center;
  color: #212121;
}

.section__title--team {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}

.section__title--clients {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}

.title-social {
  display: inline-block;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .title-social {
    margin-top: 0;
  }
}

/* =================  PORTFOLIO  ==================== */
.title-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text__card {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text__card--link {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}

.button--hero {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.button--hero:hover, .button--hero:focus {
  background-color: #188CE8;
}

.button--modal {
  width: 200px;
  height: 50px;
  display: block;
  background-color: #2196F3;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
.button--modal:hover, .button--modal:focus {
  background-color: #188CE8;
}

.buttonnav-menu {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .buttonnav-menu {
    display: none;
  }
}

.buttonnav-menu .icon-cross {
  display: none;
}

.buttonnav-menu.is-open .icon-cross {
  display: block;
}

.buttonnav-menu.is-open .icon-menu {
  display: none;
}

.buttonnav-menu:focus {
  fill: #2196F3;
}

.button--form {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--form:hover, .button--form:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .button--form {
    margin: 0;
  }
}

/* =================  PORTFOLIO  ==================== */
.nav__butten {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: block;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}
.nav__butten:focus, .nav__butten:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav__butten--first {
  padding-left: 25px;
  padding-right: 25px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    overflow-y: scroll;
  }
}

.modal__button--close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}
.modal__button--close:hover, .modal__button--close:focus > .modal__icon-button {
  fill: #2196F3;
}

.modal__button--close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__group {
  position: relative;
  margin-bottom: 10px;
  gap: 10px;
}

.title-form {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.form__field {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus, .form__field:hover {
  border: 1px solid #2196F3;
}
.form__field:focus ~ .form__icon, .form__field:hover ~ .form__icon {
  color: #2196F3;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  bottom: 50%;
  transform: translateY(100%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__coment {
  margin-bottom: 20px;
}

.form__textarea {
  margin-top: 4px;
  display: block;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:focus, .form__textarea:hover {
  border: 1px solid #2196F3;
}

.form__textarea-label {
  display: block;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__check {
  margin-bottom: 25px;
}

.form__check-label {
  margin-left: 23px;
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__check-input:focus + .form__check-icon, .form__check-input:hover + .form__check-icon {
  border-color: #2196F3;
}
.form__check-input:checked ~ .form__check-icon {
  background-image: url(../../images/icons.svg/Vicon\ check\ \(1\).svg);
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.form__check-link {
  color: #2196F3;
  text-decoration: underline;
}

.form__check-icon {
  position: absolute;
  left: -23px;
  bottom: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .slogan__block {
    width: 354px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .slogan__block {
    width: 270px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .slogan {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    gap: 30px;
  }
}

.slogan__icon {
  padding: 25px 192.34px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .slogan__icon {
    display: flex;
    width: 354px;
    height: 120px;
    padding: 25px 144.34px;
  }
}
@media screen and (min-width: 1200px) {
  .slogan__icon {
    width: 270px;
    padding: 25px 100px;
  }
}

.slogan__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.slogan__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .slogan__text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.card__list {
  width: 370px;
  height: 294px;
  position: relative;
}

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
}

.section--team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.team__img {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__img {
    margin-bottom: 0;
  }
}

.team__img--card {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__img--card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img--card {
    width: 270px;
  }
}

.team__tagline {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients {
    gap: 30px;
  }
}

.clients--list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .clients--list {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients--list {
    width: calc((100% - 90px) / 3);
  }
}

.clients__link {
  width: 210px;
  height: 92px;
  padding: 16px 52px;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #AFB1B8;
}
.clients__link:focus, .clients__link:hover {
  border: 1px solid #2196F3;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}

.clients__icon {
  fill: currentColor;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.social-networks__link--foter {
  border-radius: 50%;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks--footer {
  width: 206px;
  justify-content: flex-start;
}

.button--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #FFFFFF;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-contact {
    display: flex;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contact {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container--addres {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container--addres {
    justify-content: normal;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .container-contact {
    display: flex;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contact {
    margin-bottom: 0;
    align-items: baseline;
  }
}

.address {
  width: 232px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .address {
    width: 232px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-left: 0;
    text-align: start;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #FFFFFF;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list.address-list--map {
  padding: auto;
}

.address-list {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
}
.address-list:first-child {
  margin-top: 0;
}

.address__item {
  padding: auto;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:hover, .address__item:focus {
  color: #2196F3;
}

.connect-social {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .connect-social {
    margin-right: 89px;
    width: 206px;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .connect-social {
    margin-left: 70px;
    margin-top: 0;
    padding-top: 0;
  }
}

.subscribe {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 0;
  }
}

.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .subscribe__text {
    text-align: start;
  }
}

.label__footer {
  margin-bottom: 20px;
  display: block;
  color: #FFFFFF;
  background-color: #2F303A;
}
@media screen and (min-width: 1200px) {
  .label__footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
  }
}

.form__email {
  width: 100%;
  height: 50px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .form__email {
    width: 450px;
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .form__email {
    width: 358px;
    margin-left: 0;
    margin-right: 12px;
  }
}

.nav {
  width: 326px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}/*# sourceMappingURL=main.css.map */