.slogan__block {   
    @media screen and (min-width:768px) {
        width: 354px;
    }
}

.slogan {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width:768px) {
        justify-content: center;

        
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    
    }
}

.slogan__icon {
    
    margin-bottom: 30px;
    text-align: center;
    background: $color-F5F4FA;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (min-width: 768px) {
        padding: 25px 142px;
         
    }

    @media screen and (min-width: 1200px) {
       padding: 25px 100px;
        
    }
}

.slogan__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary-txt;

    @media screen and (min-width:768px) {
        text-align: start;
    }
}

.slogan__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: $color-main-txt;
}