
.clients {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width:1200px) {
        gap: 30px;
    }
}

.clients--list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:767px) {
        margin: 15px;
        width: calc((100% - 2 * 30px) / 2);
    }
    
    @media screen and (min-width:768px) and (max-width: 1199px) {
        width: calc((100% - 6 * 15px) / 3);
    }
}

.clients__link { 
    width: 210px;
    height: 92px;
    padding: 16px 52px;

    background-color: $color-FFFFFF;
    border: 1px solid $color-AFB1B8;
    border-radius: 4px;
    transition: border-color $transition, color $transition;
    color: $color-AFB1B8;
    
    &:focus,
    &:hover {
        border: 1px solid $color-accent-2196F3;
        color: $color-accent-2196F3;
    }

    @media screen and (min-width:768px) {
        width: 226px;
        padding: 16px 60px;
    }

    @media screen and (min-width:1200px) {
        width: 170px;
        padding: 16px 32px;
    }
}


.clients__icon {
    fill: currentColor;

}

