.section {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }

}

.section__hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-C4C4C4;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image: linear-gradient(to right,
    rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
    url(../images/hero-480x400M.jpg);

    @media screen and (min-device-pixel-ratio: 2), 
    screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx)
     {
        background-image: linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
        url(../images/hero-960x800M@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
        url(../images/hero-768x400T.jpg);

        @media screen and (min-device-pixel-ratio: 2), 
            screen and (min-resolution:192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
            rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
            url(../images/hero-1536x800T@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(to right,
        rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
        url(../images/hero-1600x600D.jpg);

        @media screen and (min-device-pixel-ratio: 2), 
            screen and (min-resolution:192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
            rgba(49, 47, 58, 0.4), rgba(49, 47, 58, 0.4)),
            url(../images/hero-3200X1200D@2x.jpg);
        }
    }
}



